<br>
<br><br>

<div class="container-fluid">
  <div class="row ">
    <section class="registro">
      <div class="caja-registro">
        <div class="caja-texto ">
          <h2 class="border-right-title">Formulario de<br> registro</h2><br>

          <p>Introduce tus datos y los de tu perro, creando el perfil podrás obtener diversos descuentos para canjear en
            los restaurantes, y magníficos regalitos para tu perr@.</p>
        </div>
        <div class="caja-formulario ">
          <form action="/auth/signup" method="POST" id="form-container">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="username">Nombre</label>
                  <input id="username" type="text" class="form-control" name="username" placeholder="Escribe tu nombre" value="" />
                </div>
                <div class="form-group">
                  <label for="surname">Apellidos</label>
                  <input id="surname" type="text" class="form-control" name="surname" placeholder="Escribe tus apellidos" value="" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="email">Mail</label>
                  <input id="email" type="text" class="form-control" name="email" placeholder="Escribe tu mail" value="" />
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input id="password" type="password" class="form-control" name="password" placeholder="Escribe tu contraseña" value="" />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="nameDog">Nombre de tu perr@</label>
                  <input id="nameDog" type="text" class="form-control" name="nameDog" placeholder="Escribe el nombre de tu perro" value=""
                  />
                </div>
                <div class="form-group">
                  <label for="ageDog">Edad de tu perr@</label>
                  <input id="ageDog" type="text" class="form-control" name="ageDog" placeholder="Escribe la edad de tu perro" value="" />
                </div>
              </div>

              <div class="col-6">
                <img class="logo" src="../../images/dog-friendly2.png" alt="Logotipo">

              </div>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-white">Registrar</button>
            </div>
            {{#if message }}
            <div class="error-message">{{ message }}</div>
            {{/if}}
          </form>
        </div>

      </div>
  </div>
  </section>
</div>
</div>