{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
 <section class="hero" id="hero">
    <div class="container-fluid">
      <div class="row">
        <section class="">
            <div class="bg-video">
              <video playsinline="" autoplay="" loop="" muted="" poster="/img/poster.jpg" class="fill fullscreen">
                  <source src="images/Dog-park.mp4" type="video/mp4">
              </video>
          </div>
        </section>
      </div>
    </div>
</section>

<section class="hero" id="about">
    <div class="container-fluid">
      <div class="row">
        <section class="nosotros">
            <div class="">
            Sobre nosotros  
            </div>
        </section>
      </div>
    </div>
</section>


<section class="hero" id="search">
    <div class="container-fluid">
      <div class="row">
        <section class="mapa">
          <div class="">
            esto es un mapa
          
          </div>
        </section>
      </div>
    </div>
</section>

<section class="hero" id="search">
    <div class="container-fluid">
      <div class="row">
        <section class="datos">
          <div class="">
            estos son unos datos de madrid
          
          </div>
        </section>
      </div>
    </div>
</section>

<section class="hero" id="signup">
    <div class="container-fluid">
      <div class="row">
        <section class="registro">
          <div class="">
            Este es el formulario de registro
          
          </div>
        </section>
      </div>
    </div>
</section>

<section class="hero" id="login">
    <div class="container-fluid">
      <div class="row">
        <section class="sesion">
          <div class="">
            Este es el formulario inicio de sesión
          
          </div>
        </section>
      </div>
    </div>
</section>