<main style="margin-right: 20px;margin-left:20px;">
  <section class="hero" id="hero">
    <div class="container-fluid">
      <div class="row">
        <section class="">
          <div class="bg-video">
            <video playsinline="" autoplay="" loop="" muted="" class="fill fullscreen">
              <source src="images/Dog-park.mp4" type="video/mp4">
            </video>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section class="hero" id="about">
    <div class="container-fluid">
      <div class="row">
        <section class="nosotros">
          <div class="container">
              <div class="row justify-content-between">
                <div class="col-sm-4 text-right revealss fadeInLeft fadeInUp visible" >
                    <h2>Restaurantes<br> DogFriendly</h2>
                    <hr>
                    <p>Somos una red completa de restaurantes en Madrid, encuentras los mejores bares, cafés y restaurantes para merendar con perr@.
                      Lugares donde siempre hay agua para los canes y seguro que algún mimo también.
                      En estos locales te reciben con una sonrisa extra si entras con tu perr@ y podrás desayunar, merendar, 
                      tomar un café o unos vinos... y ser feliz, con tu can a tu vera.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="screen-scene revealss fadeInLeft fadeInUp visible2">
                        <img src="images/dog-friendly2.png" style="width=25px" alt="Logotipo">  
                    </div>
                </div>
              </div>
            </div>
        </section>
      </div>
    </div>
  </section> 
 
  <section class="hero" id="search">
    <div class="container-fluid">
      <div class="row">
        <section class="mapa">
          <div id="map"></div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-space-around espacio">
       
        <div class="col-md-3 center-block">
          <p class="titulo">
            Buscar restaurantes por distrito <br>
          </p>
          {{!--
          <form method="POST" action="" class="login-form formulario"> --}}
            <select id="barrio" class="select-input">
              {{#each places}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            
            {{!-- </form> --}}
        </div>
        <div class="col-md-3 boton-busc">
          <br>
          <button id="btn-barrio" type="submit " class="btn btn-white ">BUSCAR</button>
        </div>
        <div class="col-md-3 center-block">
          <p class="titulo">
            Buscar áreas caninas por distrito <br>
          </p>
          {{!--
          <form method="POST" action="" class="login-form formulario"> --}}
            <select id="area" class="select-input">
              {{#each areas}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            
          </form>
        </div>
        {{!-- <div class="col-md-3 center-block">
          <p class="titulo">
            Mostrar restaurantes <br>
          </p>
          <form method="POST" action="" class="login-form formulario">
            <button type="submit" class="btn btn-white">Mostrar</button>
          </form>
        </div> --}}
        {{!-- <div class="col-md-3 center-block">
          <p class="titulo">
            Mostrar áreas caninas <br>
          </p>
          <form method="POST" action="" class="login-form formulario">
            <button type="submit" class="btn btn-white">Mostrar</button>
          </form>
        </div> --}}
        <div class="col-md-3 boton-busc">
          <br>
            <button id="btn-area" type="submit " class="btn btn-white ">BUSCAR</button>
        </div>
      </div>
    </div>
  </section>
  <section class="hero" id="data">
    <div class="container-fluid">
      <div class="row">
        <section class="data">
          <div class="container">
            <div class="row flex-container">
                <div class="col-2">
                    <div class="div-img hidden">
                      <img class="img flex-item" src="../../images/1.png" title="YORK" alt="YORK">
                    </div>
                </div>
                <div class="col-2">
                    <div class="div-img hidden">
                      <img class="img flex-item" src="../../images/2.png" title="GOLDEN" alt="GOLDEN">
                    </div>
                </div>
                <div class="col-2">
                    <div class="div-img hidden">
                      <img class="img flex-item" src="../../images/3.png" title="2" alt="2">
                    </div>
                </div>
                <div class="col-2">
                    <div class="div-img hidden">
                      <img class="img flex-item" src="../../images/4.png" title="2" alt="2">
                    </div>
                </div>
                <div class="col-2">
                    <div class="div-img hidden">
                      <img class="img flex-item" src="../../images/5.png" title="2" alt="2">
                    </div>
                </div>
            </div>
            <div class="row flex-container">
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/6.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/7.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/8.png" title="2" alt="2">
                  </div>
              </div>
               <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/9.png" title="2" alt="2">
                  </div>
              </div>
               <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/10.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/11.png" title="2" alt="2">
                  </div>
              </div>
            </div>
            <div class="row flex-container">
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/12.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/13.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/14.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/15.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/16.png" title="2" alt="2">
                  </div>
              </div>
            </div> 
            <div class="row flex-container">
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/17.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/18.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/19.png" title="2" alt="2">
                  </div>
              </div>
               <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/20.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/21.png" title="2" alt="2">
                  </div>
              </div>
              <div class="col-2">
                  <div class="div-img hidden">
                    <img class="img flex-item" src="../../images/22.png" title="2" alt="2">
                  </div>
              </div>
              
             
            </div>
          
        </section>
      </div>
    </div>
  </section>

<section class="hero" id="data">

</section>

  <footer class="page-footer">
    <div class="container-fluid">
      
      <div class="row justify-content-between">
        <div class="col-md-4 col-center">
        </div>
        <div class="col-md-4 iconos-redes">
          <!-- Facebook -->
          <a class="fb-ic">
            <img src="../../images/face.png" alt="facebook" class="redes">
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <img src="../../images/tw.png" alt="facebook" class="redes">
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <img src="../../images/what.png" alt="facebook" class="redes">
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <img src="../../images/ins.png" alt="facebook" class="redes">
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
        <div class="col-md-4 col-center">
          
        </div>
      </div>
    </div>
  </footer>
</main>