<main style="margin-right: 20px;margin-left:20px;">
  <section class="hero" id="hero">
    <div class="container-fluid">
      <div class="row">
        <section class="">
          <div class="bg-video">
            <video playsinline="" autoplay="" loop="" muted="" class="fill fullscreen">
              <source src="images/Dog-park.mp4" type="video/mp4">
            </video>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section class="hero" id="about">
    <div class="container-fluid">
      <div class="row">
        <section class="nosotros">
          <div class="">
            Sobre nosotros
          </div>
        </section>
      </div>
    </div>
  </section>
  <section class="hero" id="search">
    <div class="container-fluid">
      <div class="row">
        <section class="mapa">
          <div id="map"></div>
        </section>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-space-around espacio">
        <div class="col-md-3 center-block">
          <p class="titulo">
            Buscar restaurantes por distrito <br>
          </p>
          {{!--
          <form method="POST" action="" class="login-form formulario"> --}}
            <select id="barrio" class="select-input">
              {{#each places}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <button id="btn-barrio" type="submit " class="btn btn-white ">BUSCAR</button>
            {{!-- </form> --}}
        </div>
        <div class="col-md-3 center-block">
          <p class="titulo">
            Buscar áreas caninas por distrito <br>
          </p>
          {{!--
          <form method="POST" action="" class="login-form formulario"> --}}
            <select id="area" class="select-input">
              {{#each areas}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <button id="btn-area" type="submit " class="btn btn-white ">BUSCAR</button>
          </form>
        </div>
        <div class="col-md-3 center-block">
          <p class="titulo">
            Mostrar restaurantes <br>
          </p>
          <form method="POST" action="" class="login-form formulario">
            <button type="submit" class="btn btn-white">Mostrar</button>
          </form>
        </div>
        <div class="col-md-3 center-block">
          <p class="titulo">
            Mostrar áreas caninas <br>
          </p>
          <form method="POST" action="" class="login-form formulario">
            <button type="submit" class="btn btn-white">Mostrar</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="page-footer">
    <div class="container-fluid">
      <div class="row justify-content-between">
        <div class="col-md-4 col-center">
        </div>
        <div class="col-md-4 iconos-redes">
          <!-- Facebook -->
          <a class="fb-ic">
            <img src="../../images/face.png" alt="facebook" class="redes">
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <img src="../../images/tw.png" alt="facebook" class="redes">
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <img src="../../images/what.png" alt="facebook" class="redes">
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <img src="../../images/ins.png" alt="facebook" class="redes">
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
        <div class="col-md-4 col-center">
        </div>
      </div>
    </div>
  </footer>
</main>