<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Boheeee</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Short+Stack&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="/js/script.js"></script>
</head>

<body>
  <div class="navigation">
    <a href="#index" class="scrollto">
      <img src="images/dog-friendly2.png" alt="Logotipo">
    </a>
    <nav>
      <ul>
        <li><a href="#hero" class="scrollto">Inicio</a></li>
        <li><a href="#about" class="scrollto">Nosotros</a></li>
        <li><a href="#search" class="scrollto">Búsqueda</a></li>
        <li><a href="/auth/signup" class="scrollto">Registrarse</a></li>
        <li><a href="/auth/login" class="scrollto">Iniciar sesión</a></li>
      </ul>
    </nav>
  </div>
  {{{body}}}
  <script src="/js/main.js"></script>
  {{!-- <script src="/js/scroll.js"></script> --}}
  <script src="/js/main-map.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src=`https://maps.googleapis.com/maps/api/js?key=${googleApi}&callback=initMap` async
    defer></script>
</body>

</html>