

<br>
<br>
<br>
<br>
<br>
<br>


<section id="admin">
  <div class="container-fluid">
    <div class="row">
          <div class="col-5">
            <h1 class="border-right-title"> Bienvenido administrador {{username}}</h1>
            <img class="logo2" src="../../images/dog-friendly2.png" alt="Logotipo">
          </div>
          <div class="col-7 datos-perfil">
            <div class="form-group">
              <a type="" class="btn btn-white-listar" href="/auth/admin/listados">Listado de restaurantes</a>
            </div>
            <div class="form-group">
              <a type="" class="btn btn-white-listar" href="/auth/admin/listas">Listado de áreas caninas</a>
            </div>
             <div class="form-group">
              <a type="" class="btn btn-white-add" href="/auth/admin/new" >Añadir un restaurante</a>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a type="" class="btn btn-white-salir" href="/">Salir</a>
        </div>
    </div>
  </div>
</section>
