

<br>
<br>
<br>
<br>
<br>
<br>


<section id="admin">
  <div class="container-fluid">
    <div class="row">
          <div class="col-5">
            <h1 class="border-right-title"> Bienvenido administrador {{username}}</h1>
            <img class="logo2" src="../../images/dog-friendly2.png" alt="Logotipo">
          </div>
          <div class="col-7 datos-perfil">
            <div class="form-group">
              <button type="submit" class="btn btn-white-salir">Listado de restaurantes</button>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-white-salir">Listado de áreas caninas</button>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-white-salir">Salir</button>
        </div>
    </div>
  </div>
</section>
