

<br>
<br>
<br>
<br>
<br>
<br>


<section id="perfil">
  <div class="container-fluid">
    <div class="row">
          <div class="col-5">
            <h1 class="border-right-title"> Bienvenido a tu perfil {{username}}</h1>
            <img class="logo2" src="../../images/dog-friendly2.png" alt="Logotipo">
          </div>
          <div class="col-7 datos-perfil">
            <h4>Estos son tus datos</h4>
            <p>Nombre: </p>
            <p>Apellidos: </p>
            <p>Email:</p>
            <p>Password:</p>
            <p>Nombre de tu perr@: </p>
            <p>Edad de tu perr@: </p>
          </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-white-salir">Salir</button>
        </div>
    </div>
  </div>
</section>

