

a {
  color: #00B7FF;
}


/* ----- GENERAL STYLING ----- */
/* ----- COLORES  ----- */
/* verde: #d9eb34
	 morado: #b6a7eb
*/

body {
//   color: rgb(50,50,50);
  font-family: 'Architects Daughter', cursive;
  font-weight: 200;
  font-size: 1.1em;
  overflow-x: hidden;
}


a:hover {
  text-decoration: none;
}



/* ----- NAVIGATION ----- */

.navigation {
  border-bottom: 1px solid rgb(230,230,230);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
  background-color: #fff;
  transition: all .3s;
  color:#363636;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
  -moz-box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
  box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
}

.navigation.sticky {
  padding: 0;
  background: #f4f4f4;
}

.navigation img {
  height: 60px;
}

.navigation ul {
  text-decoration: none;
  margin: 0 10px 0 0;
}

.navigation li {
  display: inline-block;
  margin: 0 15px;
}

.navigation li a {
  padding: 20px 5px;
  display: block;
  color: inherit;
}

.bg-video{
	padding-top: 100px;
  overflow-x: hidden;
	z-index: 5;
	height: auto;
}
.nosotros{
	padding-top: 100px;
	background-color:#f4f4f4;
  height: 600px;
  width: 100%;
}
#map{
  width: 100vw;
  height: 600px;
}
.datos{
	padding-top: 100px;
	border:1px solid green;
	background-color:#f2f2f2;
  height: 600px;
  width: 100%;
}
.registro{
	padding-top: 100px;
	border:1px solid red;
  height: 600px;
  width: 100%;
}
.sesion{
	padding-top: 100px;
	border:1px solid blue;
  background-color:#f2f2f2;
  height: 600px;
  width: 100%;
}

/* -----  FORMULARIO DE REGISTRO ----- */


.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}

.login-form .group .label{
	color:#d9eb34;
	font-size:20px;
}
.login-form .group .button{
	background:#d9eb34;
	color:#363636;
}

.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}


.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
