

a {
  color: #00B7FF;
}


/* ----- GENERAL STYLING ----- */


body {
//   color: rgb(50,50,50);
  font-family: 'Architects Daughter', cursive;
  font-weight: 200;
  font-size: 1.1em;
  overflow-x: hidden;
}


a:hover {
  text-decoration: none;
}



/* ----- NAVIGATION ----- */

.navigation {
  border-bottom: 1px solid rgb(230,230,230);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
  background-color: #fff;
  transition: all .3s;
  color:#363636;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
  -moz-box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
  box-shadow: 0px 4px 5px 0px rgba(54,54,54,0.93);
}

.navigation.sticky {
  padding: 0;
  background: red;
}

.navigation img {
  height: 60px;
}

.navigation ul {
  text-decoration: none;
  margin: 0 10px 0 0;
}

.navigation li {
  display: inline-block;
  margin: 0 15px;
}

.navigation li a {
  padding: 20px 5px;
  display: block;
  color: inherit;
}

.bg-video{
  overflow-x: hidden;
  z-index: 5;
}
