<br><br><br><br><br>
<div class="container listado">

  <h1 class="listado" style="font-weight: 100">Listado de restaurantes</h1>
  <div class="row">
    <div class="col-8">
      <hr> {{#each places}}

      <h4 class="listado-2">Nombre: {{name}}</h4>
      <p>&nbsp Distrito: {{district}}</p>
      <p>&nbsp Dirección: {{address}}</p>

      <p>&nbsp Descripción:{{description}}</p>

      <hr> {{/each}}
    </div>
  </div>



</div>

</div>
<div class="row">
  <div class="form-group">
    <a type="submit" href="/" class="btn btn-white-salir">Salir</a>
  </div>
</div>